.header-container .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-weight: bold;
}

.header-container .header-links li{
    margin: 10px;
}

.header-container .header-links li a {
    color: #000;
    transition: 0.2s;
}

.header-container .header-links li a:hover {
    color: rgb(86, 87, 88);
}

.header-container .header-links img {
    width: 100px;
}

/* mobile */

.header-links-mobile {
    position: absolute;
    height: 120px;
    width: 100%;
}

.header-links-mobile img{
    position: absolute;    
    left: 20%;
    width: 100px;
    margin-top: 50px;
}

/* burger */

.bm-burger-button {
    position: absolute;
    width: 50px;
    height: 44px;
    right: 20%;
    margin-top: 78px;
}

.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    opacity: 0.8;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px;
    width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
  
.menu-item {
    color: #fff;
    padding: 10px;
}